nav {
    background-color: #041724;
    font-family: 'Karla', sans-serif;
    font-size: 1.5rem;
    height: 3rem;
}

.navigation {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    color: #DCB85A;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 10px;
}
    
.nav-links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-link, .nav-header {
    padding: 0 20px;
    text-decoration: none;
}
    
.nav-link:hover, .nav-header:hover {
    font-weight: bold;
}