.about-me {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100vh;
}

.about img {
  align-self: center;
  height: 300px;
  border-radius: 5%;
}

.intro-paragraph {
  text-align: left;
  align-self: center;
  margin-left: 50px;
}

.intro-paragraph h3 {
  margin: 0;
}