.contact {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: center;
}

.contact-section {
  display: flex;
  justify-content: center;
}

.contact-links a {
  padding: 0px 50px;
}

.footer {
  display: flex;
  justify-content: center;
}