.job-content {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.job-title {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.job-link {
  font-size: 0;
}

.job-icons {
  margin: 0;
  padding: 0;
}

.job-content img {
  align-self: center;
  max-height: 315px;
  max-width: 400px;
  border-radius: 1%;
}

.job-text {
  padding-left: 30px;
}

.job-text h3 {
  margin-top: 0;
}

@media only screen and (max-width: 425px) {
  .job {
    display: block;
    width: 100%;
  }

  .job-content {
    display: flex;
    flex-direction: column;
  }

  .job-text {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 90%;
  }
}