* {
  box-sizing: border-box;
}


html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  display: block;
  font-family: 'Roboto Mono', monospace;
  color: #033649;
}

h1 {
  font-size: 3rem;
  line-height: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h1, h2, h3 {
  font-family: 'Fira Code', monospace;
  font-weight: strong;
}

body a {
  color: #DCB85A;
  padding: 0 7.5px 0 7.5px;
}

body a:hover {
  color: #046C46;
}

.anchor {
  display: block;
  height: 30px; /*same height as header*/
  margin-top: -30px; /*same height as header*/
  visibility: hidden;
}

.contact-links {
  text-align: center;
}

section {
  padding-top: 25px;
}

section {
  width: 100%;
  max-width: 1024px;
}